.block {
    display: flex;
    flex-flow: column nowrap;
    border-radius: 30px;
    border: 3px solid black;
    padding: 15px;
    row-gap: 15px;
    align-items: center;
}

h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.rowBlock {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 30px;
    align-items: center;
    background-color: #83acf7;
    border-radius: 30px;
    padding: 15px;
}

.word {
    color: #ffffff;
    font-size: 24px;
}

.label {
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 30px;
    background-color: #ffffff;
    cursor: pointer;

    &:hover {
        background-color: #ffffff;
        color: #83acf7;
    }
}

.list {
    min-width: 10%;
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
    background-color: #83acf7;
    border-radius: 30px;
    padding: 15px;
}

.li {
    padding: 15px;
    background-color: #ffffff;
    border-radius: 30px;
}

.img {
    min-width: 150px;
    min-height: 150px;
}

.input {
    display: none;
}

.rowBlock .input:checked + .label {
    background-color: #83acf7;
    color: #ffffff;
}

.btn {
    font-weight: 700;
    font-size: 16px;
    white-space: nowrap;
    color: #ffffff;
    background-color: #83acf7;
    border: #ffffff solid 3px;
    border-radius: 30px;
    padding: 15px 30px;
    box-shadow: 1px 1px 2px darkgrey;
    margin-top: 20px;

    &:hover {
        background-color: #ffffff;
        border: #83acf7 solid 3px;
        color: #83acf7;
    }
}