.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.logo {
    max-width: 100px;
    max-height: 100px;
    aspect-ratio: 1 / 1;
}

.heading {
    white-space: nowrap;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    color: #0c3787;
}