.block {
    display: flex;
    flex-flow: column nowrap;
    border-radius: 30px;
    border: 3px solid black;
    padding: 15px;
    row-gap: 15px;
    align-items: center;
}

h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.list {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: #83acf7;
    border-radius: 30px;
    padding: 15px;
}

.word {
    width: min-content;
    display: flex;
    flex-flow: row nowrap;
    column-gap: 5px;
    align-items: center;
    background-color: #ffffff;
    border-radius: 30px;
    padding: 15px;
}

.input {
    width: 25px;
    height: 100%;
    border-bottom: 1px solid black;
    font-size: 20px;
    text-align: center;
}

.btn {
    font-weight: 700;
    font-size: 16px;
    white-space: nowrap;
    color: #ffffff;
    background-color: #83acf7;
    border: #ffffff solid 3px;
    border-radius: 30px;
    padding: 15px 30px;
    box-shadow: 1px 1px 2px darkgrey;
    margin-top: 20px;

    &:hover {
        background-color: #ffffff;
        border: #83acf7 solid 3px;
        color: #83acf7;
    }
}

.text {
    display: inline-block;
    font-weight: 700;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 30px;
    color: #83acf7;
}

.word {
    display: inline-block;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 30px;
    background-color: #ffffff;
    cursor: pointer;

    &:hover {
        background-color: #ffffff;
        color: #83acf7;
    }
}

.list .input:checked + .word {
    background-color: #83acf7;
    color: #ffffff;
}

.input {
    display: none;
}

.btnWrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.li {
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;
    border: 3px solid black;
    border-radius: 30px;
    padding: 15px;
}