.block {
    display: flex;
    flex-flow: column nowrap;
    border-radius: 30px;
    border: 3px solid black;
    padding: 15px;
    row-gap: 15px;
    align-items: center;
}

h3, h4 {
    font-size: 24px;
    margin-bottom: 20px;
}

.list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    background-color: #83acf7;
    border-radius: 30px;
    padding: 15px;
    font-weight: 700;
    color: #ffffff;
}

.img {
    width: 150px;
    height: 150px;
    border-radius: 30px;
}

.textBlock {
    max-width: 80%;
    background-color: #83acf7;
    border-radius: 30px;
    padding: 15px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
}

.btnWrapper {
    display: flex;
    column-gap: 15px;
    align-items: center;
}

.btn {
    font-weight: 700;
    font-size: 16px;
    white-space: nowrap;
    color: #ffffff;
    background-color: #83acf7;
    border: #ffffff solid 3px;
    border-radius: 30px;
    padding: 15px 30px;
    box-shadow: 1px 1px 2px darkgrey;

    &:hover {
        background-color: #ffffff;
        border: #83acf7 solid 3px;
        color: #83acf7;
    }
}